<div>
    {{#each prod}}
        <div>
            <h1>Producto {{title}}</h1>
            <p>Descripcion:{{description}}</p>
            <p>code: {{code}}</p>
            <p>Estado: {{stats}}</p>
            <p>Stock:{{stok}}</p>
            <p>Price:{{price}}</p>
            <p>Id:{{id}}</p>
        </div>
    {{/each}}
</div>

