<div>
    <h1>hola {{user.name}}</h1>
</div>

<div>
    {{#each product}}
        <div>
            <h1>Producto {{title}}</h1>
            <p>Descripcion:{{description}}</p>
            <p>code: {{code}}</p>
            <p>Estado: {{stats}}</p>
            <p>Stock:{{stok}}</p>
            <p>Price:{{price}}</p>
            <p>Id:{{id}}</p>
        </div>
    {{/each}}
</div>



<!-- 
    <script src="../public/js/index.js"></script>
    

 -->



