<div>
    <h1>Listado de productos:</h1>
</div>

<div>
    {{#each products.docs}}
        <div>
            <h2>{{this}}</h2>
            <p>Descripcion:{{description}}</p>
            <p>code: {{'code'}}</p>
            <p>Estado: {{"this.stats"}}</p>
            <p>Stock:{{this.stock}}</p>
            <p>Price:{{this.price}}</p>
            <p>Id:</p>
        </div>
    {{/each}}
</div>



<!-- 
    <script src="../public/js/index.js"></script>
    

 -->



