<div>
    <p>Trabajando con websockets</p>
    
    <h1>Productos tiempo real</h1>
    <h2>Ingrese producto a mostrar:</h2>

    <div>
        <form id="form" >
        <label>Producto</label>
        <input id="Producto" required>
        <label>Descripcion</label>
        <input id="Descripcion"required>
        <label>code</label>
        <input id="code"required>
        <label>Estado</label>
        <input id="Estado"required>
        <label>Stock</label>
        <input id="Stock"required>
        <label>Price</label>
        <input id="Price"required>
        <input type="submit">
    </form>
    </div>
    

    <p id="log"></p>
     <div>
    {{#each product}}
        <div>
            <p>Producto: {{title}}</p>
            <p>Descripcion: {{description}}</p>
            <p>code: {{code}}</p>
            <p>Estado: {{stats}}</p>
            <p>Stock: {{stok}}</p>
            <p>Price: {{price}}</p>
            <p>Id: {{id}}</p>
        </div>
    {{/each}}
    </div>

   
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>

<!-- 
   
    
    <p>Descripcion:{{description}}</p>
    <p>code: {{code}}</p>
    <p>Estado: {{stats}}</p>
    <p>Stock:{{stok}}</p>
    <p>Price:{{price}}</p>
    <p>Id:{{id}}</p>

 -->